.loader-container {
    position: relative;
  }
  
  .loader {
    width: 100%;
    height: 10px; /* Altezza maggiore per renderla più spessa */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
  }
  
  .loader::after {
    content: '';
    display: block;
    width: 30%; /* Larghezza maggiore per renderla meno lunga */
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  